.flip-card {
    background-color: transparent;
    width: 300px;
    height: 500px;
    perspective: 1000px;
    font-family: sans-serif;
}

.title {
    font-size: 1.5em;
    font-weight: 900;
    text-align: center;
    margin: 0;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    box-shadow: 0 8px 14px 0 rgba(0, 0, 0, 0.2);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border: 1px solid rgb(206, 206, 206);
    border-radius: 1rem;
}

.flip-card-front {
    background: linear-gradient(120deg, rgb(234, 234, 234) 60%,rgb(218, 220, 225)) 88%,
            rgb(77, 127, 213) 40%, rgba(21, 122, 236, 0.603) 48%;
    color: aliceblue;
    align-items: center;
}

.flip-card-back {
    background: linear-gradient(120deg, rgb(72, 118, 186) 30%, rgb(44, 101, 246) 88%,
            rgb(84, 155, 255) 40%, rgb(75, 141, 254) 78%);
    color: aliceblue;
    transform: rotateY(180deg);
}