.navbarContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: transparent;
}


.navbarmid {

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

#navbar_a {
    padding: 40px;
    position: relative;
    color: aliceblue;
    text-decoration: none;
    font-size: large;
    font-weight: 600;
}

#navbar_a:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #8559ff;
    transform: scaleX(0);
    transition: transform 0.5s ease;
    margin-bottom: 40px;
}

#navbar_a:hover:before {
    transform: scaleX(1);
}

.navbarright {
    width: 40%;
    color: whitesmoke;
    justify-content: space-around;
    padding: 0.8rem;
    display: flex;
    flex-direction: row;
}

#navbarbuttonright {
    color: aliceblue;
    text-decoration: none;
    font-size: larger;
    border: none;
    background: none;
    font-weight: bold;
}

#navbarbutton::before {
    margin-left: auto;
}

#navbarbutton::after,
#navbarbutton::before {
    content: '';
    width: 0%;
    height: 2px;
    background: #8559ff;
    display: block;
    transition: 0.5s;
}

#navbarbutton:hover::after,
#navbarbutton:hover::before {
    width: 100%;
}

#navbarbutton {
    color: whitesmoke;
    /* color: #8559ff; */
    text-decoration: none;
    font-size: medium;
    border: none;
    background: none;
    font-weight: bold;
}

#navbarbuttonright::before {
    margin-left: auto;
}

#navbarbuttonright::after,
#navbarbuttonright::before {
    content: '';
    width: 0%;
    height: 2px;
    background: #8559ff;
    display: block;
    transition: 0.5s;
}

#navbarbuttonright:hover::after,
#navbarbuttonright:hover::before {
    width: 100%;
}


@media only screen and (max-width: 767px) {
    .navbarContainer {
        overflow-x: hidden;
        display: flex;
        flex-direction: row;

    }

    #navbar_logo {
        width: 70%;
        height: 60%;
    }

    #navbar_li {
        flex-direction: row;
        align-items: center;
    }

    #navbar_a {
        padding: 1rem;
    }

    #navbar_a:before {
        margin-bottom: 10px;
    }
}

/* Responsive styles for iPad */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    #navbar_logo {
        width: 50%;
    }

    #navbar_li {
        justify-content: flex-start;
    }

    #navbar_a {
        padding: 2rem;
    }
}