.possibility {
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: auto;
    margin-top: 5%;
}

.possibility-image {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    margin-right: 2rem;
}

.possibility-image img {
    width: 100%;
    height: 100%;
}

.possibility-content {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
}

#possibility-h4 {
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: #71E5FF;
}

.possibility-content h4:last-child {
    color: #ff8A71;
}

#possibility-p{
    color: whitesmoke;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 2rem;
    text-align: start;
}

@media screen and (max-width: 950px) {
    .possibility {
        flex-direction: column;
    }

    .possibility-image {
        margin: 1rem 0;
    }

    .possibility-image img {
        width: unset;
        height: unset;
    }

    .possibility-content {
        margin-top: 2rem;
    }
}

@media screen and (max-width: 700px) {
    .possibility-image img {
        width: 100%;
        height: 100%;
    }
}
